<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dev>
            <ecomcoders_loggly>
                <app_name>your-app-identifier-here</app_name>
            </ecomcoders_loggly>
        </dev>
    </default>
</config>